<main class='app'>
  <div class='profile__wrapper'>
    <aside class='profile__aside'>
      <img
        class='profile__aside__img'
        src='images/arrow__in__circle.svg'
      />
    </aside>
    <div class='profile'>
      <form class='profile__image__form' name='changeAvatar'>
        <button class='profile__image__wrapper-button'>
          {{#if profile.image}}
            <div class='profile__image'>
              <img
                class='profile__image'
                src={{profile.image}}
                alt='Фото профиля'
              />
            </div>
          {{else}}
            <div class='profile__image'>
              <img
                class='profile__image__svg'
                src='images/default__profile__image.svg'
                alt='Сменить фото'
              />
            </div>
          {{/if}}
          <p class='profile__image__hover'>
            Поменять аватар
          </p>
        </button>
      </form>
      <h1 class='profile__user__name'>{{profile.firstName}}</h1>
      <section class='profile__data'>
        <div class='profile__data__wrapper'>
          {{#if changePassword}}
              {{>Input inputType='password' labelText='Старый пароль' inputName='oldPassword' textAlign='input__profile' isReadOnly=readonly}}
              {{>Input inputType='password' labelText='Новый пароль' inputName='newPassword' textAlign='input__profile' isReadOnly=readonly}}
              {{>Input inputType='password' labelText='Повторите новый пароль' inputName='repeatNewPassword' textAlign='input__profile' isReadOnly=readonly}}
              {{else}}
              {{>Input inputType='email' labelText='Почта' inputName='email' textAlign='input__profile' inputValue=profile.email isReadOnly=readonly}}
              {{>Input inputType='text' labelText='Логин' inputName='login' textAlign='input__profile' inputValue=profile.login isReadOnly=readonly}}
              {{>Input inputType='text' labelText='Имя' inputName='first_name' textAlign='input__profile' inputValue=profile.firstName isReadOnly=readonly}}
              {{>Input inputType='text' labelText='Фамилия' inputName='second_name' textAlign='input__profile' inputValue=profile.lastName isReadOnly=readonly}}
              {{>Input inputType='text' labelText='Имя в чате' inputName='display_name' textAlign='input__profile' inputValue=profile.visibleName isReadOnly=readonly}}
              {{>Input inputType='tel' labelText='Телефон' inputName='phone' textAlign='input__profile' inputValue=profile.phone isReadOnly=readonly}}
            {{/if}}
              <div class='profile__buttons'>
                {{#if readonly}}
                    {{>BorderlessButton borderlessButtonName='editProfile' borderlessButtonText='Изменить данные' borderlessButtonType='button'}}
                    {{>BorderlessButton borderlessButtonName='editPassword' borderlessButtonText='Изменить профиль' borderlessButtonType='button'}}
                    {{>BorderlessButton borderlessButtonName='exitProfile' borderlessButtonText='Выйти' addClass='red__color' borderlessButtonType='button'}}
                {{else}}
                  {{>Button buttonText='Сохранить' borderlessButtonType='submit'}}
                {{/if}}
              </div>
            
          
        </div>
      </section>
    </div>
  </div>
  {{#if changePasswordData}}
    <div class='profile_action-popup action-popup'>
      <form class='profile__action-form action-form'>
        <h1 class='profile__action-form__title'>{{changePasswordData.title}}</h1>
      </form>
    </div>
  {{/if}}
</main>
