<main class='app'>
  <div class='chats'>
    <aside class='chats__list'>
      <ul class='chat__list__items'>

        <div class='search__wrapper'>
          <input
            class='chats__search'
            name='search'
            type='text'
            placeholder='Поиск'
          />
          <img
            class='search__icon svg__button'
            src='images/search__icon.svg'
            alt='Поиск'
          />
        </div>

        {{#each chat}}
          <li class='chat__item'>
            <img
              class='chat__item__photo'
              src={{this.image}}
              alt='Фото пользователя'
            />
            <div class='chat__data__wrapper'>
              <p class='chat__username item__text'>{{this.name}}</p>
              {{#if this.lastMessage}}
                <p
                  class='chat__last-message item__text'
                >{{this.lastMessage}}</p>
              {{/if}}
            </div>

            <div class='chat__data__wrapper'>
              <p class='chat__date item__text'>{{this.date}}</p>
              {{#if this.unreadMessage}}
                <p class='chat__unread item__text'>{{this.unreadMessage}}</p>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </aside>
    {{#if currentChat}}
      <div class='chat_current_chat'>
        <div class='chat__user-info'>
          {{#if currentChat.photo}}
            <img
              class='chat__user__photo'
              src={{currentChat.photo}}
              alt='Фото пользователя'
            />
          {{else}}
            <div class='chat__user__photo chat__user__photo_none'>

            </div>
          {{/if}}
          <p class='chat__current__username'>Вадим</p>
          <img
            class='chat__ellipsis svg__button'
            src='images/ellipsis__icon.svg'
            alt='Функции чата'
          />
        </div>
        <div class='chat__messages__wrapper'>

        </div>

        <div class='chat__message__input__wrapper'>
          <img
            class='chat__message__attach__icon svg__button'
            src='images/attach__icon.svg'
            alt='Прикрепить'
          />
          <input
            class='chat__message__input'
            placeholder='Сообщение'
            name='message'
          />
          <img
            class='chat__message__attach__icon svg__button'
            src='images/arrow__in__circle.svg'
            alt='Отправить сообщение'
          />
        </div>
      </div>
    {{else}}
      <div class="chat_current_nothing">
        <p class='chat_nothing item__text'>Выберите чат чтобы отправить
          сообщение
        </p>
      </div>
    {{/if}}
    {{#if actionForm}}
    <div class='chat__action-popup action-popup'>
      <form class='chat__action-form action-form' name={{actionForm.formName}}>
        <h2 class='chat__action-title'>{{actionForm.formActionTitle}}</h2>
        {{#if actionForm.inputPlaceholder}}
          {{>Input inputType='text' inputName='login' labelText=actionForm.inputPlaceholder}}
        {{/if}}
        {{>Button buttonType='submit' buttonName=actionForm.formSubmitName buttonText=actionForm.formSubmitText }}
      </form>
    </div>
    {{/if}}
  </div>
</main>
